@use "../../styles/break-points.scss";

.container {
  margin: auto;

  a {
    text-decoration: none;
  }

  article {
    width: 30rem;

    @media (max-width: break-points.$breakpoint__lg) {
      width: fit-content;
    }

    a {
      font-size: 32px;
      color: var(--pico-h1-color);

      @media (max-width: break-points.$breakpoint__lg) {
        font-size: 24px;
      }
    }
  }
}
