.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .alignLeft {
    position: absolute;
    left: 0;
  }

  .alignRight {
    position: absolute;
    right: 0;
  }

  ul details summary,
  ul li details summary {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      display: none;
    }
  }

  .themeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: calc(var(--pico-spacing) / 2);
  }
}
