@use "../../styles/break-points.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  details {
    margin: 0;

    summary {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 36px;
        height: 36px;

        @media (max-width: break-points.$breakpoint__lg) {
          font-size: 32px;
        }
      }
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .themeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: calc(var(--pico-spacing) / 2);
  }
}
